<html>
<head>
	<meta charset="UTF-8">
	<title>Rango</title>
</head>
<body>
	<form action="/rango/add_category/" id="category_form" method="post">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{hidden}}			
		{% endfor %}
		{% for field in form.visible_fields  %}
			{{fields.errors}}
			{{field.help_text}}
			{{field}}
		{% endfor %}
		<input type="submit" name="submit" value="Create Category">
	</form>
	
</body>
</html>