<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Rango says... hello world</h1>
	{% if categories %}
		<ul>
			{% for category in  categories%}
					<li><a href="/rango/category/{{category.url}}">{{category.name}} </a> </li>
			{% endfor %}
		
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
		
	{% endif %}


	<a href="/rango/add_category/">Add a New Category</a>
	
</body>
</html>

